.inner{
    padding: 0px 125px 100px;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

.blind{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -1;
    border: none;
}

.text{
    text-decoration: none;
}
a{
    color: #1c1c1c;
    text-decoration: none;
}