.h-container {
    width: 100%;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
}

.banner {
    overflow: hidden;
    width: 100%;
    height: 45px;
    background: #c7c7c7;
}

.banner .x-btn {
    position: absolute;
    background: url(../images/x-btn.png);
    width: 24px;
    height: 24px;
    right: 46px;
    top: 10px;
    z-index: 999;
    transition: 500ms;
}

.banner .rolling {
    position: relative;
    width: 100%;
    height: auto;
}

.rolling .item {
    width: 100%;
    line-height: 45px;
}

.rolling .item .text-box {
    display: flex;
    background: #c7c7c7;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 16px;
}

.rolling .item .text-box p {
    font-size: 12px;
    font-style: italic;
}

/* -------------------------------------------------------------------------------------------------------------- */
.h-wrapper {
    background: linear-gradient(180deg, #000000 0, rgba(103, 103, 103, 0.1));
    width: 100%;
    transition: 500ms;
    padding-top: 20px;
}

.h-wrapper.on {
    background: rgba(15, 15, 15, 0.9);
}

.h-wrapper:hover {
    background: rgba(200, 200, 200, 0.8);

}

.h-invert {
    display: flex;
    position: relative;
    padding: 0px 40px;
    z-index: 9;
    box-sizing: border-box;
    transition: 500ms;
    justify-content: space-between;
}

.h-wrapper:hover .h-invert {
    filter: invert(100);
}

.h-wrapper .h-left {
    width: 200px;
    display: flex;
    filter: invert(100);
}

.h-left .logo a {
    width: 60px;
    height: 40px;
    display: block;
    background: url(../images/creed-logo-image.svg) no-repeat;
}

.h-left .country {
    width: 60px;
    height: 24px;
    margin-top: 4px;
    position: relative;
    z-index: 9;
}

.h-left .country a {
    display: flex;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
}

.h-left .country a span {
    background-image: url(../images/Earth.png);
    width: 24px;
    height: 24px;
}

.h-left .country .country-list {
    display: none;
    width: 100px;
}

.h-left .country .country-list li {
    position: relative;
    width: 100px;
    height: 30px;
    text-indent: 24px;
    background: #eeeeee;
    border-bottom: solid 1px rgb(204, 204, 204);
}

.h-left .country .country-list li:first-of-type {
    background: #b85858;
}

.h-left .country .country-list li a {
    position: relative;
    color: #444444;
    line-height: 30px;
}

/* -------------------------------------------------------------------------------------------------------------- */
.h-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: invert(100);
}

.h-center .slide {
    display: block;
    width: 125px;
    position: relative;
    top: 0;
    overflow: hidden;
}

.h-center .center-logo {
    background: no-repeat url(../images/image-creed.svg);
    display: block;
    height: 60px;
}

.menu-wrapper {
    width: 100%;
    z-index: 1;
    position: relative;
}

.menu-wrapper .menu-list {
    display: flex;
    justify-content: center;
    height: 60px;
    gap: 60px;
    margin: 0px auto;
}

.menu-list .menu {
    display: flex;
    padding: 10px 20px 20px;
    white-space: nowrap;
}

.menu-list .menu.on {
    padding: 10px 20px 20px;
}

.menu-list .menu>a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
    align-items: center;
    border-bottom: none;
    width: 0%;
    transition: 300ms;
}

.menu-list .menu>a.selected {
    width: 100%;
    border-bottom: solid 1px black;
}

.menu-wrap {
    height: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    position: absolute;
    padding: 0px 400px;
    left: -35%;
    top: 60px;
    gap: 30px;
}

.menu-wrap>ul>li>a {
    color: black;
    border-bottom: solid 1px black;
    font-weight: bold;
    margin-bottom: 24px;
}

.menu-wrap ul {
    margin-top: 20px;
}

.menu-wrap ul li {
    width: 230px;
    margin-bottom: 18px;
    cursor: pointer;
    color: #444444;
}
.menu-wrap ul li:hover{
    color: black;
    font-weight: bold;
}

.menu-wrap>ul:last-child li {
    width: 100%;
    height: 100%;
}

.menu-wrap>ul:last-child li div {
    width: 240px;
    height: 300px;
    background-image: url(../images/DISCOVERY-SET.jpg);
    background-size: cover;
    margin-bottom: 10px;
}

.menu-wrap>ul:last-child li>a {
    font-weight: bold;
}

/* -------------------------------------------------------------------------------------------------------------- */
.search-box {
    width: 600px;
    flex-grow: 1;
    position: absolute;
    box-sizing: border-box;
    display: none;
    top: 0;
    left: -580px;
}

.search-box input {
    width: 600px;
    height: 40px;
    border: none;
    background-color: #ffffff;
    font-size: 20px;
    border-radius: 6px;
    text-indent: 20px;
}

.search-box .x-btn {
    position: absolute;
    background: url(../images/x-btn.png);
    width: 24px;
    height: 24px;
    right: 14px;
    top: 8px;
}



.h-right {
    filter: invert(100);
    width: 200px;
    display: flex;
    justify-content: end;
}

.h-right ul {
    display: flex;
}

.h-right li {
    padding: 10px;
}

.h-right li a {
    width: 24px;
    height: 24px;
    padding: 10px;
}

.search-icon {
    background: no-repeat url(../images/Search.png) center;
}

.favorite-icon {
    background: no-repeat url(../images/Heart.png) center;
}

.account-icon {
    background: no-repeat url(../images/person.png) center;
}

.bag-icon {
    background: no-repeat url(../images/bag.png) center;
}

.search-icon,
.favorite-icon,
.account-icon,
.bag-icon {
    transition: 250ms;
}

.search-icon:hover,
.favorite-icon:hover,
.account-icon:hover,
.bag-icon:hover {
    filter: invert(100);
}

.modal {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.modal .x-btn {
    background-image: url(../images/x-btn.png);
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 1;
    right: 32px;
    top: 32px;
}

.modal.show {
    display: block;
}

.modal_body {
    position: absolute;
    width: 600px;
    height: 700px;
    left: -500px;
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 9999px, rgba(0, 0, 0, 0.5) 2px 2px 3px 3px;

    z-index: 100;
}

/* --------------------------------header------------------ */
/* --------------------------------header------------------ */
/* --------------------------------header------------------ */
.m-container {
    width: 100%;
}

.m-container .visual-container {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.visual-container {
    position: fixed;
}

.visual-container .visual-slider {
    display: flex;
}

.visual-slider .item {
    position: relative;
}

.visual-slider .item img {
    width: 1920px;
    height: 100vh;
    object-fit: fill;
}

.visual-slider .item02 .text-box {
    left: 300px;
}

.visual-slider .item03 .text-box {
    top: 300px;
}

.visual-slider .item03 .text-box .gift-btn a {
    border: solid 1px rgba(100, 100, 100, 0.3);
    padding: 10px 15px;
    background: rgba(200, 200, 200, 0.5);
}

.visual-slider .item03 .text-box .gift-btn a:hover {
    filter: invert(100);
}

/* -------dots----------- */
.visual-slider .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 70px;
    z-index: 99;
    display: flex;
    gap: 30px;
}

.visual-slider .slick-dots li {
    width: 10px;
    height: 20px;
}

.visual-slider .slick-dots li button {
    background-color: black;
    width: 10px;
    height: 10px;
    border: solid 1px black;
    transition: 500ms;
    padding: 0px;
    text-indent: -9999px;
    cursor: pointer;
    border-radius: 50%;
}

.visual-slider .slick-dots li.slick-active button {
    background-color: white;
    border: solid 1px black;
}

/* ----------------------------------------------------- */
.visual-container .text-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 60%;
    text-align: center;
}

.visual-container .text-box .title {
    font-size: 40px;
    display: block;
    letter-spacing: 10px;
}

.visual-container .text-box .text {
    display: block;
    margin-top: 10px;
    font-size: 24px;
}

.visual-container .text-box .gift-btn {
    margin-top: 30px;
}

.visual-container .text-box .gift-btn a {
    border: solid 1px rgba(255, 255, 255, 0.3);
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    color: black;
    transition: 500ms;
}

.visual-container .text-box .gift-btn a:hover {
    filter: invert(100);
}

/* -------------------------------------------------------------------------------------------------------------- */
.content {
    margin-top: 100vh;
    z-index: 2;
    position: relative;
}

.content .est1760 {
    width: 100%;
    display: block;
}

.content .established {
    width: 100%;
    display: block;
}

/* -------------------------------------------------------------------------------------------------------------- */
.category-container {
    background-color: #ffffff;
}

.category-container .title {
    display: flex;
    height: 60px;
    font-size: 30px;
    color: #1c1c1c;
    padding: 130px 0px 30px;
    align-items: center;
    justify-content: center;
}

.category-container .category-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.category-list .item {
    overflow: hidden;
}

.category-list .item>a {

    position: relative;
    z-index: 9;
}

.category-list .item a img {
    width: 400px;
    height: 500px;
    transition: 500ms;
}

.category-list .item div img.on {
    filter: brightness(0.5);
    scale: 1.2;
}

.more-btn {
    position: absolute;
    display: block;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;
    transition: 500ms;
    z-index: 99;
}

.more-btn .title {
    color: white;
}

.more-btn .more {
    line-height: 40px;
    padding: 10px;
    background-color: #eeeeee;
    border: solid 1px white;
}

/* -------------------------------------------------------------------------------------------------------------- */
.ad-container {
    background-color: #ffffff;
}

.ad-container .ad-wrapper {
    display: flex;
    align-items: center;
    gap: 70px;
}

.ad-wrapper .bg {
    overflow: hidden;
}

.ad-wrapper .bg a {
    width: 1000px;
}

.ad-wrapper img {
    width: 1000px;
    transition: 500ms;
}

.ad-wrapper img:hover {
    scale: 1.1;
    filter: brightness(1.1);
}

.ad-wrapper .text-box .title {
    font-size: 29px;
}

.ad-wrapper .text-box .text {
    letter-spacing: 2px;
    font-size: 20px;
    margin: 40px 0px 34px 0px;
}

.ad-wrapper .text-box .more {
    border: solid 1px rgba(100, 100, 100, 0.3);
    padding: 10px 15px;
    background: rgba(200, 200, 200, 0.5);
    text-decoration: none;
    color: black;
    transition: 500ms;
}

.ad-wrapper .text-box .more:hover {
    filter: invert(100);
}

/* -------------------------------------------------------------------------------------------------------------- */
.concierge-container {
    background-color: #ffffff;
}

.concierge-container .title {
    display: block;
    text-align: center;
    font-size: 30px;
    color: #1c1c1c;
    margin-bottom: 29px;
}

.concierge-list {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.concierge-list .item {
    width: 33%;
}

.concierge-list .item>a {
    display: block;
    overflow: hidden;
}

.concierge-list .item>a img {
    transition: 500ms;
}

.concierge-list .item img:hover {
    scale: 1.1;
    filter: brightness(1.2);
}

.concierge-list .item .text-box {
    text-align: center;
    margin-top: 32px;
}

.concierge-list .item .text-box a {
    text-decoration: none;
    line-height: 20px;
    font-size: 20px;
    font-weight: 300;
    color: #222222;
    display: inline-block;
}

.concierge-list .item .text-box p {
    font-style: italic;
    font-size: 20px;
    line-height: 26px;
    color: #222222;
    margin-bottom: 19px;
    height: 60px;
}

.concierge-list .item .text-box .more {
    border: solid 1px rgba(100, 100, 100, 0.3);
    padding: 10px 15px;
    background: rgba(200, 200, 200, 0.5);
    text-decoration: none;
    color: black;
    transition: 500ms;
}

.concierge-list .item .text-box .more:hover {
    filter: invert(100);
}

/* -------------------------------------------------------------------------------------------------------------- */
.m-container .logo {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #ffffff;
}

.m-container .logo img {
    width: 160px;
}

/* -------------------------------------------------------------------------------------------------------------- */
.visual2-container {
    width: 100%;
    background: #c7c7c7;
}

.visual2-container .fix-bg {
    width: 100%;
    height: 780px;
    display: block;
    position: relative;
    z-index: 99;
    background: url(../images/vday-23-desktop.jpg) no-repeat center center / cover;
    background-attachment: fixed;
}

.fix-bg .text-box {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    letter-spacing: 10px;
}

.fix-bg .text-box .title {
    text-decoration: none;
    color: white;
    font-size: 33px;
    line-height: 27px;
    margin-bottom: 24px;
}

.fix-bg .text-box .text {
    color: white;
    font-size: 15px;
    line-height: 14px;
    text-decoration: underline;
    letter-spacing: 4px;
}

.fix-bg .text-box .text {
    border: solid 1px rgba(100, 100, 100, 0.3);
    padding: 10px 15px;
    background: rgba(200, 200, 200, 0.5);
    text-decoration: none;
    color: black;
    transition: 500ms;
}

.fix-bg .text-box .text:hover {
    filter: invert(100);
}

/* -------------------------------------------------------------------------------------------------------------- */
.explane-container {
    padding: 100px 125px 100px;
    background-color: #ffffff;
}

.explane-container .title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 30px;
}

/* -------------------------------------------------------------------------------------------------------------- */
.scroll-top {
    background: url(../images/top-btn.png) no-repeat center center;
    width: 51px;
    height: 51px;
    position: fixed;
    z-index: 99999;
    right: 50px;
    bottom: 310px;
    cursor: pointer;
    display: none;
}

.scroll-top:hover {
    filter: invert(100);
}

/* -------------------------------------------------------------------------------------------------------------- */
.f-container {
    width: 100%;
    background: #efefef;
    padding: 0px 100px;
    box-sizing: border-box;
    position: relative;
    z-index: 3;
}

.f-container .footer-menu {
    display: flex;
    justify-content: space-between;
}

.footer-menu .item {
    display: flex;
    flex-direction: column;

}

.footer-menu .item .title {
    font-size: 14px;
    font-weight: bold;
    color: #1c1c1c;
    box-sizing: border-box;
    margin: 30px 0px 20px;
}

.footer-menu .item .menu-list li {
    margin: 20px 0px;
}

.footer-menu .item .menu-list li:hover{
    font-weight: bold;
    color: black;
}
.footer-menu .item .menu-list li a {
    padding: 0;
    color: #444;
}

.footer-menu .item .menu-list:last-of-type li {
    font-size: 12px;
    color: #444;
}

.footer-menu .item .menu-list .inE {
    border: none;
    border-bottom: solid 1px black;
    outline: none;
    background-color: transparent;
    width: 100%;
    font-size: 16px;
    line-height: 40px;
}

.footer-menu .item .menu-list .inE:hover {
    border-bottom: solid 1px white;
}